* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* base html */
.users-a {
	text-decoration: none;
}

.container {
	margin: 40px 0 0 30px;
}

.new-form label {
	display: block;
	font-weight: 600;
	margin-top: 10px;
}

.form-control {
	width: 30%;
}

.new-form-btn {
	margin: 15px 0 0 280px;
}

/* user_details html */
.user-detail {
	display: flex;
}
.user-img img {
	margin-right: 20px;
	width: 200px;
}

.user-container {
	display: block;
}

.user-post {
	margin-top: 30px;
}

/* edit_user html */
.edit-btn {
	margin: 15px 0 0 180px;
}

.edit-btn a {
	margin-right: 5px;
}

/* new-post html */

.new-post-btn {
	margin: 10px 0 0 200px;
}

/* post-detail html */
.post-btn {
	margin-top: 10px;
}

/* create-tag html */
.new-tags-btn {
	margin: 10px 0 0 200px;
}
